# flyctl launch added from .gitignore
**/*/node_modules
**/*/venv
**/*/__pycache__
**/*.DS_STORE
**/*.env
**/*.log
**/venv
**/*.pyc

# flyctl launch added from frontend/.gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
frontend/**/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/**/.DS_Store
frontend/**/.env.local
frontend/**/.env.development.local
frontend/**/.env.test.local
frontend/**/.env.production.local

frontend/**/npm-debug.log*
frontend/**/yarn-debug.log*
frontend/**/yarn-error.log*

# flyctl launch added from frontend/node_modules/tailwindcss/stubs/.gitignore
!frontend/node_modules/tailwindcss/stubs/**/*
